@font-face {
  font-family: 'pantonlight';
  src: url('../../fonts/panton-light-webfont.eot');
  src: url('../../fonts/panton-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/panton-light-webfont.woff2') format('woff2'),
       url('../../fonts/panton-light-webfont.woff') format('woff'),
       url('../../fonts/panton-light-webfont.svg#pantonlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pantonbold';
  src: url('../../fonts/panton-bold-webfont.eot');
  src: url('../../fonts/panton-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/panton-bold-webfont.woff2') format('woff2'),
       url('../../fonts/panton-bold-webfont.woff') format('woff'),
       url('../../fonts/panton-bold-webfont.svg#pantonbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pantonblack';
  src: url('../../fonts/panton-black-webfont.eot');
  src: url('../../fonts/panton-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/panton-black-webfont.woff2') format('woff2'),
       url('../../fonts/panton-black-webfont.woff') format('woff'),
       url('../../fonts/panton-black-webfont.svg#pantonblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "compass/reset";
.container {
  font-family: 'pantonbold';
  margin: 0 auto;
  padding: 0;
}
.no-padding {
  padding: 0;
}
.row {
  margin: auto;
}
.clearfix {
  clear: both;
}
a, input, textarea, button, .slick-slide {
  &, &:hover, &:active, &:focus {
    outline: none;
  }
}
a {
  &, &:hover, &:active, &:focus {
    text-decoration: none;
  }
}
.hidden {
  display: none;
}
.upper {
  text-transform: uppercase;
}
/****************** slider *******************/
.slick-arrow {
  background-image: url('../../img/slider-arrow.png');
  background-color: transparent;
  background-repeat: no-repeat;
  width: 2.3rem;
  height: 2.8rem;
  bottom: 9rem;
  position: absolute;
  z-index: 9;
  text-indent: -99999px;
  border: 0;
  &.slick-prev {
    left: 5.6%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  &.slick-next {
    right: 36%;
  }
}
.slider {
  .slick-slide {
    position: relative;
  }
  img {
    width: 100%;
  }
  .container {
    position: relative;
  }
  .text-wrap {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    bottom: 5.6rem;
    padding: 2rem 5.2rem 1.8rem 5.2rem;
    &.third {
      padding-right: 7.8rem;
    }
    h1, h2 {
      font-family: 'pantonbold';
    }
    h2 {
      font-size: 28px;
      color: #fff;
    }
    h1 {
      font-size: 52px;
      padding-top: 1rem;
      color: #db5a2d;
      background: -webkit-linear-gradient(#db5a2d, #dd393f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &.black {
        font-family: 'pantonblack';
      }
    }
  }
}


/****************************** front page ***************************/
.page {
  position: relative;
  overflow: hidden;
}
footer {
  background-image: url('../../img/footer-bg.png');
  .logo {
    padding-top: 1.7rem;
  }
}
header {
  background-image: url('../../img/header-bg.png');
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}
header, footer {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  margin: 0 auto;
  menu {
    padding: 0 14%;
    ul {
      display: table;
      width: 100%;
      li {
        display: table-cell;
        text-align: center;
        &.active, &:hover {
          a {
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 6px;
              background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#dd393f), to(#db5a2d));
              background-image: -webkit-linear-gradient(left, #dd393f, #db5a2d);
              background-image: -moz-linear-gradient(left, #dd393f, #db5a2d);
              background-image: -o-linear-gradient(left, #dd393f, #db5a2d);
            }
          }
        }
        a {
          position: relative;
          font-family: 'pantonlight';
          font-size: 18px;
          padding: 1.47rem 0;
          display: inline-block;
          &, &:hover, &:active, &:focus {
            color: #fff;
          }
        }
      }
    }
  }
  .contacts-column {
    padding-top: .9%;
  }
  .call-column {
    padding-top: 1.5%;
    .call {
      font-family: 'pantonbold';
      font-size: 16px;
      color: #fff;
      display: block;
      text-align: right;
      margin-right: -5%;
    }
  }
  .contacts-wrap {
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    padding-left: 5.6%;
    margin-bottom: 1%;
    &.address {
      background-image: url('../../img/address-icon.png');
    }
    &.mail {
      background-image: url('../../img/mail-icon.png');
    }
    &.phone {
      background-image: url('../../img/phone-icon.png');
      .contact {
        font-size: 18px;
        padding-right: 3%;
      }
    }
    .title {
      font-family: 'pantonlight';
      font-size: 14px;
      color: #000;
      padding-bottom: 2%;
    }
    .contact {
      font-family: 'pantonbold';
      font-size: 14px;
      color: #000;
      white-space: nowrap;
      display: block;
      padding-right: 31%;
    }
  }
  .contact-content {
    display: flex;
    justify-content: flex-end;
  }
  .logo {
    font-family: 'pantonbold';
    font-size: 28px;
    color: #dd393f;
    text-align: right;
    span {
      font-family: 'pantonblack';
      font-size: 30px;
      color: #fff;
    }
  }
}
.areas-of-use {
  background-color: #f6f7f9;
  i {
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  a {
    text-align: center;
    display: block;
    font-family: 'pantonlight';
    font-size: 18px;
    padding: 2.7rem 1rem;
    &, &:hover, &:focus, &:active {
      color: #636363;
    }
  }
  .contacts-column {
    padding-top: 1.3%;
    padding-bottom: .9%;
  }
  .call-column {
    padding-top: 2.4%;
    .call {
      margin: 0;
      padding: 0;
      &:hover {
        color: #fff;
      }
    }
  }
  menu {
    padding: 0 14%;
    ul {
      display: table;
      width: 100%;
      li {
        display: table-cell;
        text-align: center;
        padding: 0;
        &.active, &:hover {
          a {
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 6px;
              background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#dd393f), to(#db5a2d));
              background-image: -webkit-linear-gradient(left, #dd393f, #db5a2d);
              background-image: -moz-linear-gradient(left, #dd393f, #db5a2d);
              background-image: -o-linear-gradient(left, #dd393f, #db5a2d);
            }
          }
        }
        a {
          position: relative;
          font-family: 'pantonlight';
          font-size: 18px;
          padding: 1.47rem 0;
          display: inline-block;
          &, &:hover, &:active, &:focus {
            color: #fff;
          }
        }
      }
    }
  }
  .red {
    a {
      text-decoration: underline;
      &, &:hover, &:focus, &:active {
        color: #db5a2d;
      }
    }
  }
  .constraction {
    i {
      background-image: url('../../img/building-icon.png');
      width: 97px;
      height: 97px;
    }
  }
  .rails {
    i {
      background-image: url('../../img/rails-icon.png');
      width: 97px;
      height: 97px;
    }
  }
  .aviation {
    i {
      background-image: url('../../img/aviation-icon.png');
      width: 97px;
      height: 95px;
    }
  }
  .industrial {
    i {
      background-image: url('../../img/industrial-icon.png');
      width: 96px;
      height: 96px;
    }
  }
  .shipbuilding {
    i {
      background-image: url('../../img/shipbuilding-icon.png');
      width: 98px;
      height: 98px;
    }
  }
  .highway {
    i {
      background-image: url('../../img/highway-icon.png');
      width: 97px;
      height: 97px;
    }
  }
  h1 {
    text-align: center;
    padding: 2.5rem 0 4rem 0;
  }
}
.sidebar-left {
  ul {
    padding-top: .25rem;
    li {
      border-width: 6px;
      border-style: solid;
      -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0,0,0,0)), to(rgba(219, 90, 45, 0))) 1 100%;
      -webkit-border-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(219, 90, 45, 0)) 1 100%;
      -moz-border-image: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(219, 90, 45, 0)) 1 100%;  
      -o-border-image: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(219, 90, 45, 0)) 1 100%;
      border-image: linear-gradient(to top, rgba(0,0,0,0), rgba(219, 90, 45, 0)) 1 100%;
      border-right: 0;
      border-bottom: 0;
      border-top: 0;
      line-height: 1.15;
      margin-bottom: 2.2rem;
      padding-left: 2rem;
      &.active, &:hover {
        border-width: 6px;
        border-style: solid;
        -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#dd3d3d), to(rgba(219, 90, 45, 1))) 1 100%;
        -webkit-border-image: -webkit-linear-gradient(bottom, #dd3d3d, rgba(219, 90, 45, 1)) 1 100%;
        -moz-border-image: -moz-linear-gradient(bottom, #dd3d3d, rgba(219, 90, 45, 1)) 1 100%;  
        -o-border-image: -o-linear-gradient(bottom, #dd3d3d, rgba(219, 90, 45, 1)) 1 100%;
        border-image: linear-gradient(to top, #dd3d3d, rgba(219, 90, 45, 1)) 1 100%;
        border-right: 0;
        border-bottom: 0;
        border-top: 0;
        a {
          color: #dd393f;
        }
      }
      a {
        font-family: 'pantonlight';
        font-size: 22px;
        color: #636363;
      }
    }
  }
}
.page-content {
  margin: 5.5rem 0 4rem 0;
  &.inner {
    margin-top: 4.5rem;
  }
  p {
    font-family: 'pantonlight';
    font-size: 16px;
    color: #636363;
    padding-bottom: 1.25rem;
    text-align: justify;
    line-height: 1.25;
  }
}
h1 {
  font-family: 'pantonbold';
  font-size: 28px;
  color: #636363;
  padding: .8rem 0 .9rem 0;
}

/***************************************** inner pages *************************************/
.banner {
  display: block;
  width: 100%;
  border-bottom: 6px solid #dd393f;
}
.images-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 2rem 0;
  a {
    margin-right: .3rem;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    width: 100%;
    display: block;
  }
}
.breadcrumbs {
  border-bottom: 1px solid #ebebeb;
  ul {
    padding-left: 2.7rem;
    li {
      display: inline-block;
      color: #636363;
      font-family: 'pantonlight';
      font-size: 12px;
      margin-right: 48px;
      background: #fff;
      padding: 15px 9px 15px 0;
      position: relative;
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &:after, &:before {
          display: none;
        }
      }
      &:after {
        background-image: url('../../img/breadcrumb-divider.png');
        content: '';
        width: 24px;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-position: 100%;
        margin-left: 18px;
      }
      a {
        color: #9d9d9d;
        text-decoration: underline;
      }
    }
  }
}
/******************************** screens rules ************************************/

@media (min-width: 1920px) {
  .page .slider .slick-arrow.slick-prev {
    left: 20.6%;
  }
  .page .slider .slick-arrow.slick-next {
    right: 41%;
  }
}
@media (min-width: 1510px) {
  .slider .slick-arrow.slick-prev {
    left: 13.6%;
  }
  .slider .slick-arrow.slick-next {
    right: 39%;
  }
}
@media (min-width: 1310px) {
  .slick-arrow.slick-prev {
    left: 10.6%;
  }
  .slick-arrow.slick-next {
    right: 38%;
  }
}
@media (min-width: 1291px) {
  .page header, .page footer {
    width: 1291px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1157px;
  }
  .sidebar-left {
    width: 30%;
    float: left;
  }
  .content-wrapper {
    width: 69%;
    float: right;
    padding-left: 2%;
  }
  header, footer {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1157px;
  }
  .sidebar-left {
    width: 30%;
    float: left;
  }
  .content-wrapper {
    width: 69%;
    float: right;
    padding-left: 2%;
  }
  header, footer {
      width: 100%;
  }
}
@media (max-width: 1157px) {
  .container {
    width: 100%;
  }
  .page-content {
    padding: 0 .5%;
  }
  header {
    .call-column {
      .call {
        padding-left: 8%;
      }
    }
  }
  header, footer {
    .call-column .call {
      text-align: left;
      font-size: 14px;
    }
    .contacts-wrap {
      padding-left: 4.6%;
      .contact {
        padding-right: 25%;
      }
      &.phone .contact {
        padding-right: 26%;
        font-size: 16px;
      }
      .title, .contact {
        font-size: 12px;
      }
    }
    menu ul li a {
      font-size: 16px;
      padding: 1.3rem 0;
    }
    .logo {
      margin-right: -13%;
    }
  }
  .areas-of-use menu ul li a {
    padding: 1.25rem 0;
  }
  .slider .text-wrap {
    left: 2rem;
  }
  .slick-arrow.slick-next {
    right: 31%;
  }
}
@media (max-width: 1100px) {
  header menu ul li a, footer menu ul li a {
    padding: 1.1rem 0;
  }
  .areas-of-use menu ul li a {
    padding: 1.15rem 0;
  }
  .slick-arrow.slick-next {
    right: 26%;
  }
}
@media (max-width: 1015px) {
  header, footer {
    .call-column {
      .call {
        font-size: 12px;
      }
    }
    menu ul li {
      &.active a:after, &:hover a:after {
        left: 0;
        right: 0;
        height: 3px;
      }
      a {
        padding: .8rem 0;
      }
    }
    .contacts-wrap {
      .contact {
        padding-right: 16%;
      }
    }
  }
  .slick-arrow.slick-next {
    right: 20%;
  }
  .areas-of-use menu ul li.active a:after, .areas-of-use menu ul li:hover a:after {
    height: 3px;
  }
  .areas-of-use menu ul li a {
    padding: 1rem 0;
  }
}
@media (max-width: 930px) {
  header, footer {
    .contacts-wrap {
      &.phone {
        background-size: 13%;
        .contact {
          font-size: 11px;
        }
      }
      &.mail {
        background-size: 19%;
      }
      &.address {
        background-size: 12%;
      }
      .title {
        font-size: 11px;
      }
      .contact {
        font-size: 10px;
      }
    }
    menu ul li a {
      font-size: 13px;
      padding: 1rem 0;
    }
  }
  .slider .text-wrap h1 {
    font-size: 40px;
  }
  .slider .text-wrap h2 {
    font-size: 16px;
  }
  .slick-arrow.slick-next {
    right: 34%;
  }
  .areas-of-use menu ul li a {
    font-size: 13px;
    padding: 1.07rem 0;
  }
  .areas-of-use .call-column {
    padding-top: 2%;
  }
  footer .logo {
    padding-top: 1.2rem;
  }
}
@media (max-width: 930px) {
  .container, header, footer, .areas-of-use, .slider, .page {
    width: 930px;
  }
}